body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

.inputs {
    margin-bottom: 20px;
}

#results, #charts {
    width: 100%;

    display: flex;
    gap: 16px;
}

#results > div, #charts > div {
    width: 200px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    text-align: center;
    flex-grow: 1;

    /*margin: 0 auto;
    width: 80%;
    max-width: 400px;*/
}